<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATJlAc287uEPvB93QZ0E6TcizVIGdHnuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>783745517341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galala.chatApp</string>
	<key>PROJECT_ID</key>
	<string>messageme-app-5d23e</string>
	<key>STORAGE_BUCKET</key>
	<string>messageme-app-5d23e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783745517341:ios:908c1fac1349c9134683f4</string>
</dict>
</plist>